.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: auto;
    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0fr 0fr;
    }
    @media (min-width: 1024px) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 0fr 0fr;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: 36px;
            color: #25a186;
        }
        h6 {
            font-size: 16px;
            color: #4e4e54;
        }
        p {
            font-size: 20px;
            line-height: 32px;
            height: 160px;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-right: 10px;
        }
    }
    .imagem {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            @media (min-width: 768px) {
                width: 350px;
            }
        }
    }
}