.posts {
    margin: 60px 0;
    position: relative;
    &:first-child {
        margin: 10px 0 60px 0;
    }
    .btn-group {
        display: flex;
        gap: 15px;
        margin-top: 10px;
        button {
            border: none;
            background: rgba(37, 161, 134, .12);
            ;
            color: #25a186;
            padding: 10px 14px;
            margin: 0;
            cursor: pointer;
        }
    }
}